<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Not Found</title>
    <link rel="stylesheet" href="/tailwind.css">
</head>

<body class="bg-black text-white flex justify-center items-center h-screen">
    <div class="text-center">
        <h1 class="text-5xl font-bold mb-4">404</h1>
        <p class="text-xl mb-6">Aradığın sayfa bulunamadı.</p>
        <a href="/" class="text-blue-400 underline hover:text-blue-200">Return views</a>
    </div>
</body>

</html>