<%- include("partials/head") %>

    <form action="/create" method="POST" class="box">
       
        <input required name="name" placeholder="Event Name" type="text" maxlength="15">
        <input required name="date" type="date">
        <input required name="time" type="time">
        <textarea required name="location" placeholder="location" maxlength="63"></textarea>
        <textarea required name="description" placeholder="description" maxlength="63"></textarea>
        
        <button type="submit">create</button>

    </form>

    <%- include("partials/foot") %>